<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      สนทนา
      <ion-icon name="chatboxes"></ion-icon>
    </ion-title>
  </ion-toolbar>
<ion-content padding> 
  <div class="container">
    <div *ngFor="let msg of" class="message left">
      <img class="user-img"[src]="msg.sender.avaterURL" alt="" src="">
      <div class="msg-detail">
        <div class="msg-info">
          <p>
            {{msg.sender.name}}
          </p>
        </div>

        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{msg.text}}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="input-wrap">
    <textarea #messageInput placeder="Enter your message!">
    </textarea>
    <button ion-button clear icon-only item-right>
      <ion-icon name="send" android="android-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>