.bar{
    --background: #00ACC1;
    --color: #FFF;
}
ion-content {
    --offset-top: 0px;
    --offset-bottom: 0px;
    --background: #00BCD4;
    --color: #FFF;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        .header {
            flex: 1;
            justify-content: center;
            text-align: center;
            padding-top: 20px;
            .title {
                img {
                    height: 100px;
                    width: 100px;
                }
            }
        }
        .body {
            flex: 1.5;
            ion-list {
                --background: none;
                background: none;
                margin-bottom: 0!important;
                
                ion-item {
                    --border-color: transparent!important;
                    --highlight-height: 0;
                    --background: none;
                    background: #26C6DA;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    ion-icon {
                        color: #FFF;
                    }
                    ion-input {
                        --color: #FFF;
                    }
                }
            }
        }
        .button{
            --background: ROYALBLUE;
        }
        .footer {
            display: flex;
            a {
                color: ROYALBLUE;
                font-weight: 500;
                text-decoration: none;
            }
        }
    }
}