<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>บัญชีผู้ใช้</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="padding">

  <div class="container">
    <div class="header">
      <div class="title">
        <img src="https://image.flaticon.com/icons/svg/236/236832.svg">
      </div>
    </div>
    <div class="body">
      <div *ngIf="dataDoctor != null && checkStatus == 1">
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="คำนำหน้าชื่อ" [(ngModel)]="dataDoctor.dr_article">
            <ion-select-option value="นาย">นาย</ion-select-option>
            <ion-select-option value="นาง">นาง</ion-select-option>
            <ion-select-option value="นางสาว">นางสาว</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-input type="text" placeholder="ชื่อ-สกุล" [(ngModel)]="dataDoctor.dr_name" [readonly]="isValid">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" [(ngModel)]="dataDoctor.dr_user" [readonly]="isValid"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input placeholder="password" type="password" [(ngModel)]="dataDoctor.dr_passwd" [readonly]="isValid">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="เพศ" [(ngModel)]="dataDoctor.dr_sex">
            <ion-select-option value="หญิง">หญิง</ion-select-option>
            <ion-select-option value="ชาย">ชาย</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input type="number" placeholder="เบอร์โทรศัพท์" [(ngModel)]="dataDoctor.dr_tell" [readonly]="isValid">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="pin"></ion-icon>
          <ion-input type="text" placeholder="ที่อยู่" [(ngModel)]="dataDoctor.dr_address" [readonly]="isValid">
          </ion-input>
        </ion-item>

        <div class="button" padding *ngIf="buttonStatus == 1">
          <ion-button size="large" expand="block" (click)="change()">แก้ไข</ion-button>
        </div>

        <div class="button" padding *ngIf="buttonStatus == 2">
          <ion-button size="large" expand="block" (click)="change()">บันทึก</ion-button>
        </div>

      </div>


      <div *ngIf="dataAdmin != null && checkStatus == 2">
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="คำนำหน้าชื่อ" [(ngModel)]="dataAdmin.admin_article">
            <ion-select-option value="นาย">นาย</ion-select-option>
            <ion-select-option value="นาง">นาง</ion-select-option>
            <ion-select-option value="นางสาว">นางสาว</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-input type="text" placeholder="ชื่อ-สกุล" [(ngModel)]="dataAdmin.admin_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" [(ngModel)]="dataAdmin.admin_user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input placeholder="password" type="password" [(ngModel)]="dataAdmin.admin_passwd"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="เพศ" [(ngModel)]="dataAdmin.admin_sex">
            <ion-select-option value="หญิง">หญิง</ion-select-option>
            <ion-select-option value="ชาย">ชาย</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input type="number" placeholder="เบอร์โทรศัพท์" [(ngModel)]="dataAdmin.admin_tell"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="pin"></ion-icon>
          <ion-input type="text" placeholder="ที่อยู่" [(ngModel)]="dataAdmin.admin_address"></ion-input>
        </ion-item>

        <div class="button" padding>
          <ion-button size="large" expand="block">แก้ไข</ion-button>
        </div>

        <div class="button" padding>
          <ion-button size="large" expand="block">บันทึก</ion-button>
        </div>
      </div>

      <div *ngIf="dataPatient != null && checkStatus == 4">
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="คำนำหน้าชื่อ" [(ngModel)]="dataPatient.p_article">
            <ion-select-option value="นาย">นาย</ion-select-option>
            <ion-select-option value="นาง">นาง</ion-select-option>
            <ion-select-option value="นางสาว">นางสาว</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="ชื่อ-นามสกุล" type="text" [(ngModel)]="dataPatient.p_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input placeholder="Username" type="text" [(ngModel)]="dataPatient.p_user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input placeholder="Password" type="password" [(ngModel)]="dataPatient.p_passwd"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-datetime placeholder="วัน/เดือน/ปีเกิด" displayFormat="D MMMM, YYYY"
            [(ngModel)]="dataPatient.p_birthDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="เพศ" [(ngModel)]="dataPatient.p_sex">
            <ion-select-option value="1">หญิง</ion-select-option>
            <ion-select-option value="2">ชาย</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="dataPatient.p_weight">น้ำหนัก:</ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" [(ngModel)]="dataPatient.p_height">ส่วนสูง:</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input type="number" placeholder="เบอร์โทรศัพท์" [(ngModel)]="dataPatient.p_tell"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="pin"></ion-icon>
          <ion-input type="text" placeholder="ที่อยู่" [(ngModel)]="dataPatient.p_address"></ion-input>
        </ion-item>

        <div class="button" padding>
          <ion-button size="large" expand="block">แก้ไข</ion-button>
        </div>

        <div class="button" padding>
          <ion-button size="large" expand="block">บันทึก</ion-button>
        </div>

      </div>

      <div *ngIf="dataNurse != null && checkStatus == 3">
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="คำนำหน้าชื่อ" [(ngModel)]="dataNurse.nurse_article">
            <ion-select-option value="นาย">นาย</ion-select-option>
            <ion-select-option value="นาง">นาง</ion-select-option>
            <ion-select-option value="นางสาว">นางสาว</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="people"></ion-icon>
          <ion-input type="text" placeholder="ชื่อ-สกุล" [(ngModel)]="dataNurse.nurse_name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="Username" [(ngModel)]="dataNurse.nurse_user"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="lock"></ion-icon>
          <ion-input placeholder="password" type="password" [(ngModel)]="dataNurse.nurse_passwd"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="female"></ion-icon>
          <ion-select placeholder="เพศ" [(ngModel)]="dataNurse.nurse_sex">
            <ion-select-option value="หญิง">หญิง</ion-select-option>
            <ion-select-option value="ชาย">ชาย</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-icon slot="start" name="call"></ion-icon>
          <ion-input type="number" placeholder="เบอร์โทรศัพท์" [(ngModel)]="dataNurse.nurse_tell"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" name="pin"></ion-icon>
          <ion-input type="text" placeholder="ที่อยู่" [(ngModel)]="dataNurse.nurse_address"></ion-input>
        </ion-item>

        <div class="button" padding>
          <ion-button size="large" expand="block">แก้ไข</ion-button>
        </div>

        <div class="button" padding>
          <ion-button size="large" expand="block">บันทึก</ion-button>
        </div>

      </div>

    </div>

  </div>
</ion-content>