<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>การรักษา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding"><!--หน้านี้สำหรับแพทย์-->
  <div class="container">
    <!--<div class="header">
      </div>-->
    <div class="body">

      <ion-list>
        <h4>ขื่อแพทย์</h4>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="ชื่อ-สกุล">
          </ion-input>
        </ion-item>
        <h4>วันที่</h4>
        <ion-item>
          <ion-icon slot="start" name="calendar"></ion-icon>
          <ion-datetime placeholder="วันที่" displayFormat="D MMMM, YYYY"></ion-datetime>
        </ion-item>
        <h4>รายละเอียด</h4>
        <ion-item>
          <ion-icon slot="start" name="clipboard"></ion-icon>
          <ion-input placeholder="รายละเอียด"></ion-input>
        </ion-item>
        <h4>ชื่อผู้ป่วย</h4>
        <ion-item>
          <ion-icon slot="start" name="person"></ion-icon>
          <ion-input placeholder="ชื่อ-สกุล"></ion-input>
        </ion-item>
      </ion-list>

    </div>

    <ion-button size="large" expanded="block">บันทึก</ion-button>
    <ion-button size="large" expand="block" (click)="goToTeatmentDetail()">ประวัติการรักษา</ion-button>
  </div>

</ion-content>