<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ประวัติการรักษา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="checkStatus == 3 && listData2 != null">
    <ion-card *ngFor="let item of listData2">
      <ion-card-header>
        <ion-card-title>
          <!--หน้าสำหรับผู้ป่วย พยาบาล และแพทย์เพื่อดูประวัติการรักษา-->
          ข้อมูลการรักษา
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <p>ชื่อแพทย์: {{item.dr_name}} </p>
          <p>วันที่: {{item.t_date}} </p>
          <p>การวินิจฉัย: {{item.t_descrip}} </p>
          <p>ชื่อผู้ป่วย: {{item.p_name}} </p>
        </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="checkStatus != 3 && listData != null">
    <ion-card *ngFor="let item of listData">
      <ion-card-header>
        <ion-card-title>
          <!--หน้าสำหรับผู้ป่วย พยาบาล และแพทย์เพื่อดูประวัติการรักษา-->
          ข้อมูลการรักษา
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>ชื่อแพทย์: {{item.dr_name}} </p>
        <p>วันที่: {{item.t_date}} </p>
        <p>การวินิจฉัย: {{item.t_descrip}} </p>
        <p>ชื่อผู้ป่วย: {{item.p_name}} </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>