<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ประวัติการรักษา</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title> <!--หน้าสำหรับผู้ป่วย พยาบาล และแพทย์เพื่อดูประวัติการรักษา-->
        ข้อมูลการรักษา
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      ชื่อแพทย์: โกวิท โคตะวัน<br>
      วันที่: 15 november 2019 <br>
      รายละเอียด: มีความดันโลหิตสูงควรงดการออกกำกลังกายชั่วคราว<br>
      ชื่อผู้ป่วย: ภคมน สุยคำไฮ
    </ion-card-content>
  </ion-card>
</ion-content>