<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ความดันโลหิต</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <div class="container">
    <div class="header">
      <h3>Measurements</h3>
    </div>
    <div class="body">
     
        <ion-list>
          <h4>Systolic</h4>
          <ion-item>
            <ion-icon slot="start" name="water"></ion-icon>
            <ion-input placeholder="SYS" [(ngModel)]="DataBloodPressure.sys" type="number">
            </ion-input>
          </ion-item>
          <h4>Diastolic</h4>
          <ion-item>
            <ion-icon slot="start" name="water"></ion-icon>
            <ion-input placeholder="DIA" [(ngModel)]="DataBloodPressure.dia" type="number">
            </ion-input>
          </ion-item>
          <h4>Pulse Rate</h4>
          <ion-item>
            <ion-icon slot="start" name="heart"></ion-icon>
            <ion-input placeholder="PR" [(ngModel)]="DataBloodPressure.pr" type="number"></ion-input>
          </ion-item>
        </ion-list>
     
    </div>

    <div>
      <ion-button size="large" expanded="block" (click)="addDataBlood()">บันทึก</ion-button>
      <ion-button size="large" expand="block" (click)="goToReport()">ดูข้อมูล</ion-button>
    </div>
  </div>
</ion-content>