<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ข้อมูลแพทย์</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div>
    <ion-item>
      <ion-icon slot="start" name="female"></ion-icon>
      <ion-input type="text" readonly> {{dataDoctorId.dr_article}} </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="people"></ion-icon>
      <ion-input type="text" readonly>{{dataDoctorId.dr_name}} </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call"></ion-icon>
      <ion-input type="text" readonly>{{dataDoctorId.dr_tell}}</ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-input type="text" readonly>{{dataDoctorId.dr_address}}</ion-input>
    </ion-item>
  </div>

</ion-content>