<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ข่าวสาร</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let news of getNews">
    <ion-card-header>
      <ion-card-title>
        <p>หัวข้อข่าว: {{ news.news_name }} </p>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>เนื้อหาข่าว: {{ news.news_detail }} </p>
      
    </ion-card-content>
  </ion-card>

</ion-content>