<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ตารางนัดหมาย</ion-title>
  </ion-toolbar>
</ion-header>
<!--หน้านี้สำหรับแพทย์ พยาบาล ส่วนผู้ป่วยสามารถดูได้อย่างเดียว-->
<ion-content>
  <ion-card class="container">
    <ion-card-header>
      <ion-card-title>
        นัดตรวจ
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      แพทย์ : โกวิท โคตะวัน<br>
      วันที่: 15 November 2019<br>
      เวลา: 09:30<br>
      รายละเอียด: ติดตามอาการ<br>
      ชื่อผู้ป่วย: ภคมน สุยคำไฮ
    </ion-card-content>
    <ion-col>
      <ion-button color="warning">แก้ไข<ion-icon name="create"></ion-icon></ion-button>
      
    </ion-col>
    <ion-col>
      <ion-button color="danger">ยกเลิก <ion-icon name="trash"></ion-icon></ion-button>
      
    </ion-col>
  </ion-card>
</ion-content>