<ion-header>
  <ion-toolbar class="bar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ตารางนัดหมาย</ion-title>
  </ion-toolbar>
</ion-header>
<!--หน้านี้สำหรับแพทย์ พยาบาล ส่วนผู้ป่วยสามารถดูได้อย่างเดียว-->
<ion-content>
  <ion-card *ngFor="let item of listData" class="container">
    <ion-card-header>
      <ion-card-title>
        นัดตรวจ
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>แพทย์ : {{ item.dr_name }}</p>
      <p>วันที่: {{ item.app_date }}</p>
      <p>เวลา: {{ item.app_time }}</p>
      <p>รายละเอียด: {{ item.app_detail }}</p>
      <p>ชื่อผู้ป่วย: {{ item.p_name }}</p>
    </ion-card-content>
    <ion-col>
      <ion-button (click)="goEditappoint(item.app_id)" color="warning">แก้ไข<ion-icon name="create"></ion-icon></ion-button>     
    </ion-col>
    <ion-col>
      <ion-button (click)="cencalAppoint(item.app_id)" color="danger">ยกเลิก <ion-icon name="trash"></ion-icon></ion-button>
      
    </ion-col>
  </ion-card>
</ion-content>